<h2>
  Product Id: {{productObj.prodId}}
  Product Name: {{productObj.prodName}}
  Product Price: {{productObj.prodPrice}}
</h2>
<hr>
<!-- Two Way Binding -->
<div (mouseover)='loadProducts()'>Loading the products......
  <ul>
    <li *ngFor='let prod of productArray'>
      {{prod.prodId}}
      {{prod.prodName}}
      {{prod.prodPrice}}
    </li>
  </ul>
</div>
<hr>
<div>
  Rating for the products!!
  <app-rating></app-rating>
</div>
<hr>
<form>
  Enter Product Id: <input type='text' name='prodId' [(ngModel)]=productObj.prodId /><br/>
  Enter Product Name: <input type='text' name='prodName' [(ngModel)]=productObj.prodName /><br/>
  Enter Product Price: <input type='text' name='prodPrice' [(ngModel)]=productObj.prodPrice /><br/>
</form>